<h1>My Project</h1>
<%=params%><br/>

<%= link_to "Edit My Projects", '/my/projects/id/edit', class: 'btn btn-primary'%><br/>

<%= link_to "Create My New Project", '/my/projects/new', class: 'btn btn-primary'%>